{{ $default_layout := "ergol" }}
{{ $keymaps := dict
  "en" (dict
    "qwerty"      "Qwerty"
    "dvorak"      "Dvorak"
    "colemak"     "Colemak"
    "colemak-dh"  "Colemak-DH"
    "workman"     "Workman"
    "ISRT"        "ISRT"
    "MTGAP"       "MTGAP"
    "sturdy"      "Sturdy"
  )

  "fr" (dict
    "azerty"      "Azerty"
    "lafayette"   "Lafayette"
    "ergol"       "Ergo‑L"
    "erglace"     "Erglace"
    "colemak-french-touch" "Colemak French Touch"
    "bepolar"     "Bépolar"
    "bepo"        "Bépo"
  )

  "ergopti" (dict
    "ergo_1dk_v1.1.3" "Ergopti 1DK v1.1.3"
    "ergo_1dk_v2.0.0" "Ergopti 1DK v2.0.0"
    "ergo_1dk_v2.1.0" "Ergopti 1DK v2.1.0"
    "ergo_1dk_v2.1.1" "Ergopti 1DK v2.1.1"
    "ergopti_v1.1.3_analyse" "Ergopti v1.1.3"
    "ergopti_v2.0.0_analyse" "Ergopti v2.0.0"
    "ergopti_v2.1.0_analyse" "Ergopti v2.1.0"
  )

  "fr.contrib" (dict
    "beopy"       "Béopy"
    "beopy-l"     "Béopy‑L"
    "ergaie"      "Ergaie"
    "erglace_nuke"   "Erglace (nuke)"
    "optergol"    "Optergol"
  )

  "fr.nonfree" (dict
    "optimot"     "Optimot"
    "opti1dk"     "Optimot 1DK"
  )
}}

<select id="layout">
  {{ range $language, $keymaps_language := $keymaps }}
    <option disabled>  [{{ $language }}]</option>
    {{ range $json_name, $displayed_name := $keymaps_language }}
      {{ if eq $default_layout $json_name }}
        <option data-folder="{{$language}}" value="{{ $json_name }}" selected> {{ $displayed_name }} </option>
      {{ else }}
        <option data-folder="{{$language}}" value="{{ $json_name }}"> {{ $displayed_name }} </option>
      {{ end }}
    {{ end }}
  {{ end }}
</select>
